<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="htmx-config" content='{"allowEval":false,"allowScriptTags":false,"globalViewTransitions":true,"historyRestoreAsHxRequest":false,"reportValidityOfForms":true,"responseHandling":[{"code":"204","swap":false},{"code":"[23]..","swap":true},{"code":"422","swap":true},{"code":"[45]..","swap":false,"error":true},{"code":"...","swap":true}]}'>
  <title>{% block title %}appbox{% endblock %}</title>
  <script src="/assets/vendor/htmx.min.js" integrity="sha384-H5SrcfygHmAuTDZphMHqBJLc3FhssKjG7w/CeCpFReSfwBWDTKpkzPP8c+cLsK+V" crossorigin="anonymous"></script>
  <script src="/assets/vendor/preload.min.js" integrity="sha384-PRIcY6hH1Y5784C76/Y8SqLyTanY9rnI3B8F3+hKZFNED55hsEqMJyqWhp95lgfk" crossorigin="anonymous"></script>
  <script src="/assets/vendor/head-support.js" integrity="sha384-cvMqHzjCJsOHgGuyB3sWXaUSv/Krm0BdzjuI1rtkjCbL1l1oHJx+cHyVRJhyuEz0" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/assets/css/app.css">
</head>
<body hx-boost="true" hx-sync="this:replace" hx-ext="head-support,preload">
  <div id="app" data-theme="{{ prefs.theme or 'light' }}" style="--accent-pref: {{ prefs.accent or '#BC5215' }}">
    {% block content %}{% endblock %}
  </div>
  <div id="toasts"></div>
</body>
</html>
